<ion-header>
  <ion-toolbar>
    <ion-title>Sermon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="sermon">
    <div>
      <h3>Wake Up Call</h3>

      <iframe width="250" height="150" src="https://www.youtube.com/embed/jgP3uiZYUSU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
      <h3>Daily Sermon</h3>

      <iframe width="250" height="150" src="https://www.youtube.com/embed/KseeN9-u8GE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div>
      <h3>Meditation</h3>
      <iframe width="250" height="150" src="https://www.youtube.com/embed/qEBH0y7PzDI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</ion-content>
