<ion-header>
  <ion-toolbar>
    <ion-title>Prayer Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="https://www.learnreligions.com/thmb/FFYOemXtUGovLwWxn3_EY53_3So=/1500x844/smart/filters:no_upscale()/praying-58f129f13df78cd3fc418722.jpg" alt="">

  <ion-item>
    <ion-label position="floating">Name:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Phone Number:</ion-label>
    <ion-input></ion-input>
  </ion-item>



  <ion-item>
    <ion-label position="floating">Prayer Request:</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <ion-button color="success" class="btn">Submit</ion-button>


</ion-content>
