<ion-header>
  <ion-toolbar>
    <ion-title>User Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">

  <div class="login">
    <img src="https://www.kindpng.com/picc/m/235-2351000_login-icon-png-transparent-png.png" alt="">

    <div>
      <ion-input type="text" placeholder="Username" class="input"></ion-input>
      <ion-input type="password" placeholder="Password" class="input"></ion-input>
    </div>

    <p>forget password?</p>
    <p>Not a member? Register</p>
    <ion-button color="success" class="submit">
      <ion-tab-button tab="/home" class="submit2">Login</ion-tab-button>
    </ion-button>

    <ion-list-header class="social">Login with Social</ion-list-header>
    <ion-list class="media">
      <ion-item color="success"><ion-icon name="logo-google"></ion-icon></ion-item>
      <ion-item color="success"><ion-icon name="logo-facebook"></ion-icon></ion-item>
      <ion-item color="success"><ion-icon name="logo-twitter"></ion-icon></ion-item>
    </ion-list>
  </div>

</ion-content>
