.head {
  display: flex;
}
.label{

  background-color: rgb(139, 241, 139);
}
.label h3 {
text-align: center;
color: white;
font-weight: 800;
top: 0;
bottom: 0;
position: relative;
}
.heading {
  text-align: center;
}
