<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-circle-outline" size="large"></ion-icon>
    <ion-title>The Bible</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="label">
      <h3>Believe In The Lord & He Will Guide You</h3>

    <ion-img src="https://media.istockphoto.com/photos/faith-can-move-mountains-picture-id483297856?k=20&m=483297856&s=612x612&w=0&h=Zhk8fOEMUv822OXHh7dQSowHgqL8I9MllBjoPWEUmqU=" alt=""></ion-img>

  </div>

  <div class="heading">
    <h4>
      The Hebrew Scriptures
    </h4>
    <h6>Old & New Testament</h6>
  </div>

  <ion-list>
    <ion-list-header>
      The Old Testament Listing
      </ion-list-header>

      <ion-item>Genesis</ion-item>
      <ion-item>Exodus</ion-item>
      <ion-item>Leviticus</ion-item>
      <ion-item>Numbers</ion-item>
      <ion-item>Deuteronomy</ion-item>
      <ion-item>Joshua</ion-item>
      <ion-item>Judges</ion-item>
      <ion-item>Ruth</ion-item>
      <ion-item>1 Samuel</ion-item>
      <ion-item>2 Samuel</ion-item>
      <ion-item>1 Kings</ion-item>
      <ion-item>2 Kings</ion-item>
      <ion-item>1 Chronicles</ion-item>
      <ion-item>2 Chronicles</ion-item>
      <ion-item>Ezra</ion-item>
      <ion-item>Nehemiah</ion-item>
      <ion-item>Esther</ion-item>
      <ion-item>Job</ion-item>
      <ion-item>Psalms</ion-item>
      <ion-item>Proverbs</ion-item>
      <ion-item>Ecclesiastes</ion-item>
      <ion-item>Song of Solomon (or Song of Songs)</ion-item>
      <ion-item>Isaiah</ion-item>
      <ion-item>Jeremiah</ion-item>
      <ion-item>Lamentations</ion-item>
      <ion-item>Ezekiel</ion-item>
      <ion-item>Daniel</ion-item>
      <ion-item>Hosea</ion-item>
      <ion-item>Joel</ion-item>
      <ion-item>Amos</ion-item>
      <ion-item>Obadiah</ion-item>
      <ion-item>Jonah</ion-item>
      <ion-item>Micah</ion-item>
      <ion-item>Nahum</ion-item>
      <ion-item>Habakkuk</ion-item>
      <ion-item>Zephaniah</ion-item>
      <ion-item>Haggai</ion-item>
      <ion-item>Zechariah</ion-item>
      <ion-item>Malachi</ion-item>
  </ion-list>
</ion-content>
